Repository DudjackOneArmed/roleplaygames-utilities-unitofwork: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build and test Database.UnitOfWork.Contracts library, Build and test Database.UnitOfWork.EF library, Build and test Database.UnitOfWork.EF.DI library, Push to nuget repository Database.UnitOfWork.Contracts library, Push to nuget repository Database.UnitOfWork.EF library, Push to nuget repository Database.UnitOfWork.EF.DI library

Build and test Database.UnitOfWork.Contracts library:
  script:
  - export PROJECT_NAME="Database.UnitOfWork.Contracts"
  - export PROJECT_PATH="${PROJECT_NAME}/${PROJECT_NAME}.csproj"
  - dotnet restore ${PROJECT_PATH}
  - dotnet build ${PROJECT_PATH} --no-restore --configuration Release
  - dotnet test ${PROJECT_PATH} --no-build --configuration Release

Build and test Database.UnitOfWork.EF library:
  script:
  - export PROJECT_NAME="Database.UnitOfWork.EF"
  - export PROJECT_PATH="${PROJECT_NAME}/${PROJECT_NAME}.csproj"
  - dotnet restore ${PROJECT_PATH}
  - dotnet build ${PROJECT_PATH} --no-restore --configuration Release
  - dotnet test ${PROJECT_PATH} --no-build --configuration Release

Build and test Database.UnitOfWork.EF.DI library:
  script:
  - export PROJECT_NAME="Database.UnitOfWork.EF.DI"
  - export PROJECT_PATH="${PROJECT_NAME}/${PROJECT_NAME}.csproj"
  - dotnet restore ${PROJECT_PATH}
  - dotnet build ${PROJECT_PATH} --no-restore --configuration Release
  - dotnet test ${PROJECT_PATH} --no-build --configuration Release

Push to nuget repository Database.UnitOfWork.Contracts library:
  script:
  - export PROJECT_NAME="Database.UnitOfWork.Contracts"
  - export PROJECT_PATH="${PROJECT_NAME}/${PROJECT_NAME}.csproj"
  - export RELEASES_DIR="./releases"
  - dotnet build ${PROJECT_PATH} --configuration Release
  - dotnet pack ${PROJECT_PATH} --output ${RELEASES_DIR} --configuration Release
  ...

Push to nuget repository Database.UnitOfWork.EF library:
  script:
  - export PROJECT_NAME="Database.UnitOfWork.EF"
  - export PROJECT_PATH="${PROJECT_NAME}/${PROJECT_NAME}.csproj"
  - export RELEASES_DIR="./releases"
  - dotnet build ${PROJECT_PATH} --configuration Release
  - dotnet pack ${PROJECT_PATH} --output ${RELEASES_DIR} --configuration Release
  ...

Push to nuget repository Database.UnitOfWork.EF.DI library:
  script:
  - export PROJECT_NAME="Database.UnitOfWork.EF.DI"
  - export PROJECT_PATH="${PROJECT_NAME}/${PROJECT_NAME}.csproj"
  - export RELEASES_DIR="./releases"
  - dotnet build ${PROJECT_PATH} --configuration Release
  - dotnet pack ${PROJECT_PATH} --output ${RELEASES_DIR} --configuration Release
  ...

Initial Bitbucket Pipelines configuration
  bitbucket-pipelines.yml
Due: none

[COM-52] - Exception handlers were added + small readme fix
  Database.UnitOfWork.Contracts/Database.UnitOfWork.Contracts.csproj
  Database.UnitOfWork.EF.DI/Database.UnitOfWork.EF.DI.csproj
  Database.UnitOfWork.EF/Database.UnitOfWork.EF.csproj
  Database.UnitOfWork.EF/Exceptions/MoreThanOneRepositoriesUnitOfWorkException.cs
  Database.UnitOfWork.EF/Services/Repository.cs
  Database.UnitOfWork.EF/Services/UnitOfWork.cs
  README.md
Due: Build and test Database.UnitOfWork.Contracts library, Build and test Database.UnitOfWork.EF library, Build and test Database.UnitOfWork.EF.DI library, Push to nuget repository Database.UnitOfWork.Contracts library, Push to nuget repository Database.UnitOfWork.EF library, Push to nuget repository Database.UnitOfWork.EF.DI library

[COM-52] - Fix
  Database.UnitOfWork.EF.DI/Autofac/ContainerBuilderExtensions.cs
  Database.UnitOfWork.EF.DI/Database.UnitOfWork.EF.DI.csproj
  Database.UnitOfWork.EF.DI/Microsoft.DependencyInjection/IServiceCollectionExtensions.cs
  README.md
Due: Build and test Database.UnitOfWork.EF.DI library, Push to nuget repository Database.UnitOfWork.EF.DI library

[COM-61] - Async executors were added
  Database.UnitOfWork.Contracts/Database.UnitOfWork.Contracts.csproj
  Database.UnitOfWork.Contracts/Services/IQueryableAsyncExecutor.cs
  Database.UnitOfWork.EF.DI/Autofac/ContainerBuilderExtensions.cs
  Database.UnitOfWork.EF.DI/Database.UnitOfWork.EF.DI.csproj
  Database.UnitOfWork.EF.DI/Microsoft.DependencyInjection/IServiceCollectionExtensions.cs
  Database.UnitOfWork.EF/Database.UnitOfWork.EF.csproj
  Database.UnitOfWork.EF/Services/QueryableAsyncExecutor.cs
Due: Build and test Database.UnitOfWork.Contracts library, Build and test Database.UnitOfWork.EF library, Build and test Database.UnitOfWork.EF.DI library, Push to nuget repository Database.UnitOfWork.Contracts library, Push to nuget repository Database.UnitOfWork.EF library, Push to nuget repository Database.UnitOfWork.EF.DI library

[COM-59] - Dapper UnitOfWork was added
  Database.UnitOfWork.Dapper.DI/Autofac/ContainerBuilderExtensions.cs
  Database.UnitOfWork.Dapper.DI/Database.UnitOfWork.Dapper.DI.csproj
  Database.UnitOfWork.Dapper.DI/Microsoft.DependencyInjection/IServiceCollectionExtensions.cs
  Database.UnitOfWork.Dapper.Test.Integration/Database.UnitOfWork.Dapper.Test.Integration.csproj
  Database.UnitOfWork.Dapper.Test.Integration/Usings.cs
  Database.UnitOfWork.Dapper.Test/Database.UnitOfWork.Dapper.Test.csproj
  Database.UnitOfWork.Dapper.Test/UnitOfWorkTest.cs
  Database.UnitOfWork.Dapper.Test/Usings.cs
  Database.UnitOfWork.Dapper/Database.UnitOfWork.Dapper.csproj
  Database.UnitOfWork.Dapper/Exceptions/MoreThanOneRepositoriesUnitOfWorkException.cs
  Database.UnitOfWork.Dapper/Services/ReadOnlyRepository.cs
  Database.UnitOfWork.Dapper/Services/Repository.cs
  Database.UnitOfWork.Dapper/Services/UnitOfWork.cs
  Database.UnitOfWork.Dapper/Usings.cs
  RolePlayGames.Utilities.sln
  bitbucket-pipelines.yml
Due: none

[COM-69] - IRepository was devided with IReadonlyRepository
  Database.UnitOfWork.Contracts/Database.UnitOfWork.Contracts.csproj
  Database.UnitOfWork.Contracts/Services/IRepository.cs
  Database.UnitOfWork.Dapper.Test/UnitOfWorkTest.cs
Due: Build and test Database.UnitOfWork.Contracts library, Push to nuget repository Database.UnitOfWork.Contracts library

[COM-68] - Work with custom repository was added
  Database.UnitOfWork.Contracts/Database.UnitOfWork.Contracts.csproj
  Database.UnitOfWork.Contracts/Exceptions/CustomRepositoryNotFoundException.cs
  Database.UnitOfWork.Contracts/Exceptions/MoreThanOneRepositoriesUnitOfWorkException.cs
  Database.UnitOfWork.Contracts/Services/IReadOnlyRepository.cs
  Database.UnitOfWork.Contracts/Services/IRepository.cs
  Database.UnitOfWork.Contracts/Services/IUnitOfWork.cs
  Database.UnitOfWork.Dapper.DI/Autofac/ContainerBuilderExtensions.cs
  Database.UnitOfWork.Dapper.DI/Database.UnitOfWork.Dapper.DI.csproj
  Database.UnitOfWork.Dapper.DI/Microsoft.DependencyInjection/IServiceCollectionExtensions.cs
  Database.UnitOfWork.Dapper/Database.UnitOfWork.Dapper.csproj
  Database.UnitOfWork.Dapper/Services/UnitOfWork.cs
  Database.UnitOfWork.EF.DI/Autofac/ContainerBuilderExtensions.cs
  Database.UnitOfWork.EF.DI/Database.UnitOfWork.EF.DI.csproj
  Database.UnitOfWork.EF.DI/Microsoft.DependencyInjection/IServiceCollectionExtensions.cs
  Database.UnitOfWork.EF/Database.UnitOfWork.EF.csproj
  Database.UnitOfWork.EF/Services/UnitOfWork.cs
  Database.UnitOfWork.Test/Database.UnitOfWork.Test.csproj
  Database.UnitOfWork.Test/UnitOfWorkTest.cs
  Database.UnitOfWork.Test/Usings.cs
  Database.UnitOfWork/Database.UnitOfWork.csproj
  Database.UnitOfWork/UnitOfWorkBase.cs
  RolePlayGames.Utilities.sln
Due: Build and test Database.UnitOfWork.Contracts library, Build and test Database.UnitOfWork.EF library, Build and test Database.UnitOfWork.EF.DI library, Push to nuget repository Database.UnitOfWork.Contracts library, Push to nuget repository Database.UnitOfWork.EF library, Push to nuget repository Database.UnitOfWork.EF.DI library

[COM-68] - Database.UnitOfWork was adde to CI pipeline
  bitbucket-pipelines.yml
Due: none

[COM-73] - Services were moved to root namespace
  Database.UnitOfWork.Contracts/Database.UnitOfWork.Contracts.csproj
  Database.UnitOfWork.Contracts/IQueryableAsyncExecutor.cs
  Database.UnitOfWork.Contracts/IReadOnlyRepository.cs
  Database.UnitOfWork.Contracts/IRepository.cs
  Database.UnitOfWork.Contracts/IUnitOfWork.cs
  Database.UnitOfWork.Dapper.DI/Autofac/ContainerBuilderExtensions.cs
  Database.UnitOfWork.Dapper.DI/Database.UnitOfWork.Dapper.DI.csproj
  Database.UnitOfWork.Dapper.DI/Microsoft.DependencyInjection/IServiceCollectionExtensions.cs
  Database.UnitOfWork.Dapper.Test/UnitOfWorkTest.cs
  Database.UnitOfWork.Dapper/Database.UnitOfWork.Dapper.csproj
  Database.UnitOfWork.Dapper/ReadOnlyRepository.cs
  Database.UnitOfWork.Dapper/Repository.cs
  Database.UnitOfWork.Dapper/UnitOfWork.cs
  Database.UnitOfWork.EF.DI/Autofac/ContainerBuilderExtensions.cs
  Database.UnitOfWork.EF.DI/Database.UnitOfWork.EF.DI.csproj
  Database.UnitOfWork.EF.DI/Microsoft.DependencyInjection/IServiceCollectionExtensions.cs
  Database.UnitOfWork.EF/Database.UnitOfWork.EF.csproj
  Database.UnitOfWork.EF/QueryableAsyncExecutor.cs
  Database.UnitOfWork.EF/ReadOnlyRepository.cs
  Database.UnitOfWork.EF/Repository.cs
  Database.UnitOfWork.EF/UnitOfWork.cs
  Database.UnitOfWork.Test/UnitOfWorkTest.cs
  Database.UnitOfWork/UnitOfWorkBase.cs
Due: Build and test Database.UnitOfWork.Contracts library, Build and test Database.UnitOfWork.EF library, Build and test Database.UnitOfWork.EF.DI library, Push to nuget repository Database.UnitOfWork.Contracts library, Push to nuget repository Database.UnitOfWork.EF library, Push to nuget repository Database.UnitOfWork.EF.DI library

[COM-76] - Moving UnitOfWork packages to nuget.org
  Database.UnitOfWork.Contracts/Database.UnitOfWork.Contracts.csproj
  Database.UnitOfWork.Dapper.DI/Database.UnitOfWork.Dapper.DI.csproj
  Database.UnitOfWork.Dapper/Database.UnitOfWork.Dapper.csproj
  Database.UnitOfWork.EF.DI/Database.UnitOfWork.EF.DI.csproj
  Database.UnitOfWork.EF/Database.UnitOfWork.EF.csproj
  bitbucket-pipelines.yml
Due: Build and test Database.UnitOfWork.Contracts library, Build and test Database.UnitOfWork.EF library, Build and test Database.UnitOfWork.EF.DI library, Push to nuget repository Database.UnitOfWork.Contracts library, Push to nuget repository Database.UnitOfWork.EF library, Push to nuget repository Database.UnitOfWork.EF.DI library

[COM-76] - Skip duplicate was added to pipelines push to nuget.org
  bitbucket-pipelines.yml
Due: none

[COM-79] - Dependecies fix
  Database.UnitOfWork.Contracts.Test/Database.UnitOfWork.Contracts.Test.csproj
  Database.UnitOfWork.Contracts.Test/UnitOfWorkTest.cs
  Database.UnitOfWork.Contracts.Test/Usings.cs
  Database.UnitOfWork.Contracts/Database.UnitOfWork.Contracts.csproj
  Database.UnitOfWork.Contracts/UnitOfWorkBase.cs
  Database.UnitOfWork.Dapper.DI/Database.UnitOfWork.Dapper.DI.csproj
  Database.UnitOfWork.Dapper.Test/Database.UnitOfWork.Dapper.Test.csproj
  Database.UnitOfWork.Dapper/Database.UnitOfWork.Dapper.csproj
  Database.UnitOfWork.EF.DI/Database.UnitOfWork.EF.DI.csproj
  Database.UnitOfWork.EF/Database.UnitOfWork.EF.csproj
  Database.UnitOfWork.Test/Database.UnitOfWork.Test.csproj
  Database.UnitOfWork/Database.UnitOfWork.csproj
  RolePlayGames.Utilities.sln
Due: Build and test Database.UnitOfWork.Contracts library, Build and test Database.UnitOfWork.EF library, Build and test Database.UnitOfWork.EF.DI library, Push to nuget repository Database.UnitOfWork.Contracts library, Push to nuget repository Database.UnitOfWork.EF library, Push to nuget repository Database.UnitOfWork.EF.DI library

[COM-76] - Useless common project was deleted
  Database.UnitOfWork/Database.UnitOfWork.csproj
  Database.UnitOfWork/UnitOfWorkBase.cs
Due: none

[COM-76] - Pipeline fix
  bitbucket-pipelines.yml
Due: none

[RUU-6] - Preload of types was added
  Database.UnitOfWork.Contracts.Test/UnitOfWorkTest.cs
  Database.UnitOfWork.Contracts/Database.UnitOfWork.Contracts.csproj
  Database.UnitOfWork.Contracts/UnitOfWorkBase.cs
  Database.UnitOfWork.Dapper.DI/Database.UnitOfWork.Dapper.DI.csproj
  Database.UnitOfWork.Dapper/Database.UnitOfWork.Dapper.csproj
  Database.UnitOfWork.EF.DI/Database.UnitOfWork.EF.DI.csproj
  Database.UnitOfWork.EF/Database.UnitOfWork.EF.csproj
  Database.UnitOfWork.EF/UnitOfWork.cs
Due: Build and test Database.UnitOfWork.Contracts library, Build and test Database.UnitOfWork.EF library, Build and test Database.UnitOfWork.EF.DI library, Push to nuget repository Database.UnitOfWork.Contracts library, Push to nuget repository Database.UnitOfWork.EF library, Push to nuget repository Database.UnitOfWork.EF.DI library

[RUU-6] - Comment was removed
  Database.UnitOfWork.Contracts/UnitOfWorkBase.cs
Due: Build and test Database.UnitOfWork.Contracts library, Push to nuget repository Database.UnitOfWork.Contracts library

Create github-ci-pipeline.yml
  .github/workflows/github-ci-pipeline.yml
Due: none

Update github-ci-pipeline.yml
  .github/workflows/github-ci-pipeline.yml
Due: none

Create nuget-push.yml
  .github/workflows/nuget-push.yml
Due: none

Update nuget-push.yml
  .github/workflows/nuget-push.yml
Due: none

Rename github-ci-pipeline.yml to ci.yml
  .github/workflows/ci.yml
Due: none

[RUU-10] - Reject changes on commit fail was removed
  Database.UnitOfWork.EF.DI/Database.UnitOfWork.EF.DI.csproj
  Database.UnitOfWork.EF/Database.UnitOfWork.EF.csproj
  Database.UnitOfWork.EF/UnitOfWork.cs
Due: Build and test Database.UnitOfWork.EF library, Build and test Database.UnitOfWork.EF.DI library, Push to nuget repository Database.UnitOfWork.EF library, Push to nuget repository Database.UnitOfWork.EF.DI library

[RUU-12] - Ramaining methods were added to QuarableAsync
  Database.UnitOfWork.Contracts/Extensions/QueryableExtensions.cs
  Database.UnitOfWork.EF.DI/Autofac/ContainerBuilderExtensions.cs
  Database.UnitOfWork.EF.DI/Microsoft.DependencyInjection/IServiceCollectionExtensions.cs
  Database.UnitOfWork.EF/QueryableAsyncExecutor.cs
Due: Build and test Database.UnitOfWork.Contracts library, Build and test Database.UnitOfWork.EF library, Build and test Database.UnitOfWork.EF.DI library, Push to nuget repository Database.UnitOfWork.Contracts library, Push to nuget repository Database.UnitOfWork.EF library, Push to nuget repository Database.UnitOfWork.EF.DI library

[RUU-12] - Version bump
  .github/workflows/ci.yml
  .github/workflows/nuget-push.yml
  Database.UnitOfWork.Contracts/Database.UnitOfWork.Contracts.csproj
  Database.UnitOfWork.EF.DI/Database.UnitOfWork.EF.DI.csproj
  Database.UnitOfWork.EF/Database.UnitOfWork.EF.csproj
  RolePlayGames.Utilities.sln
Due: Build and test Database.UnitOfWork.Contracts library, Build and test Database.UnitOfWork.EF library, Build and test Database.UnitOfWork.EF.DI library, Push to nuget repository Database.UnitOfWork.Contracts library, Push to nuget repository Database.UnitOfWork.EF library, Push to nuget repository Database.UnitOfWork.EF.DI library

[RUU-12] - Pipeline dotnet version down
  .github/workflows/ci.yml
  .github/workflows/nuget-push.yml
Due: none

[RUU-12] - Test version down
  Database.UnitOfWork.Contracts.Test/Database.UnitOfWork.Contracts.Test.csproj
Due: none

[RUU-12] - Async methods were moved to general namespace
  Database.UnitOfWork.Contracts/Database.UnitOfWork.Contracts.csproj
  Database.UnitOfWork.Contracts/QueryableExtensions.cs
  Database.UnitOfWork.EF.DI/Autofac/ContainerBuilderExtensions.cs
  Database.UnitOfWork.EF.DI/Database.UnitOfWork.EF.DI.csproj
  Database.UnitOfWork.EF.DI/Microsoft.DependencyInjection/IServiceCollectionExtensions.cs
  Database.UnitOfWork.EF/Database.UnitOfWork.EF.csproj
  Database.UnitOfWork.EF/QueryableAsyncExecutor.cs
Due: Build and test Database.UnitOfWork.Contracts library, Build and test Database.UnitOfWork.EF library, Build and test Database.UnitOfWork.EF.DI library, Push to nuget repository Database.UnitOfWork.Contracts library, Push to nuget repository Database.UnitOfWork.EF library, Push to nuget repository Database.UnitOfWork.EF.DI library

[RUU-15] - Upgrade to .NET 10
  Database.UnitOfWork.Contracts.Test/Database.UnitOfWork.Contracts.Test.csproj
  Database.UnitOfWork.Contracts/Database.UnitOfWork.Contracts.csproj
  Database.UnitOfWork.Dapper.DI/Database.UnitOfWork.Dapper.DI.csproj
  Database.UnitOfWork.Dapper.Test.Integration/Database.UnitOfWork.Dapper.Test.Integration.csproj
  Database.UnitOfWork.Dapper.Test/Database.UnitOfWork.Dapper.Test.csproj
  Database.UnitOfWork.Dapper/Database.UnitOfWork.Dapper.csproj
  Database.UnitOfWork.EF.DI/Database.UnitOfWork.EF.DI.csproj
  Database.UnitOfWork.EF/Database.UnitOfWork.EF.csproj
Due: Build and test Database.UnitOfWork.Contracts library, Build and test Database.UnitOfWork.EF library, Build and test Database.UnitOfWork.EF.DI library, Push to nuget repository Database.UnitOfWork.Contracts library, Push to nuget repository Database.UnitOfWork.EF library, Push to nuget repository Database.UnitOfWork.EF.DI library

Path conditions:
  Build and test Database.UnitOfWork.Contracts library: any of: Database.UnitOfWork.Contracts/**
  Build and test Database.UnitOfWork.EF library: any of: Database.UnitOfWork.EF/**
  Build and test Database.UnitOfWork.EF.DI library: any of: Database.UnitOfWork.EF.DI/**
  Push to nuget repository Database.UnitOfWork.Contracts library: any of: Database.UnitOfWork.Contracts/**
  Push to nuget repository Database.UnitOfWork.EF library: any of: Database.UnitOfWork.EF/**
  Push to nuget repository Database.UnitOfWork.EF.DI library: any of: Database.UnitOfWork.EF.DI/**
